*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22;
}